* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  min-width: 1280px;
  color: #4c4c4c;
}

.button {
  background-color: #f1cdb3;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  text-align: center;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}

.background-wrapper {
  background: url(../img/noise_lines_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) #211f20;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

/* Header section */

.header-section {
  padding: 60px 0px;
}

.header-wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo__title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.logo__subtitle {
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
}

.header-nav {
  width: 443px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header-nav__item {
  list-style-type: none;
}

.header-nav__link {
  display: inline-block;
  min-height: 24px;
  color: #cdcdcd;
  text-decoration: none;
}

.header-nav__link--active {
  color: #fff;
  border-bottom: 3px solid #f1cdb3;
}

.section {
}

.section-not-only {
}

/* Not only section */

.section-not-only__wrapper {
  min-height: 728px;
  background: url(../img/start-screen-puppy.png) no-repeat right bottom;
}

.section-not-only__text {
  margin-bottom: 42px;
  color: #cdcdcd;
}

.section-not-only__content-block {
  width: 460px;
  padding-top: 163px;
}

.main-header {
  font-size: 44px;
  margin: 0px 150px 42px 0px;
  color: #fff;
  letter-spacing: normal;
}

/* About section */

.section-about-wrapper {
  width: 850px;
  margin: 0 auto;
  padding: 80px 0px 100px;
  display: flex;
  justify-content: space-between;
}

.section-about-image {
  margin: auto;
}

.section-about-text-block {
  margin-top: 14px;
  width: 380px;
}

/* Our friends section */

.section-our-friends {
  padding: 80px 0px 100px;
  background-color: #f6f6f6;
}

.section-our-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-our-friends__header {
  width: 400px;
  margin: 0 auto 60px;
  text-align: center;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
  width: 100%;
}

.slider__cards {
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.slider__card {
  width: 270px;
  border-radius: 9px;
  background: #fafafa;
}

.slider__card-text {
  margin: 30px 0px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.slider__card-open-button {
  display: block;
  width: 187px;
  min-height: 52px;
  margin: 0 auto 30px;
  padding: 0;
  border: 2px solid #f1cdb3;
  background-color: transparent;
}

.section-our-friends__button {
  display: block;
  max-width: 261px;
  padding: 15px 40px;
}

.slider__button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  background-color: transparent;
}

.text {
}
.section-about {
}

.slider__card-image {
}
.slider__card-description {
}
.section-help {
}
.categories-block {
}
.category-card {
}
.category-card__icon-block {
}
.category-card__icon {
}
.section-in-addition {
}
.image-wrapper {
}
.content-wrapper {
}
.bank-card {
}
.description {
}
.footer-container {
}
.footer-column {
}
.footer-email {
}
.footer-phone {
}
.footer-location {
}
