@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: local("Arial"), url("../../fonts/arial-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  src: local("Arial Italic"),
    url("../../fonts/arial-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"),
    url("../../fonts/georgia-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 400;
  src: local("Georgia Italic"),
    url("../../fonts/georgia-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  src: local("Georgia Bold"),
    url("../../fonts/georgia-bold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
}

.body--scroll-disabled {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
  background-color: #f1cdb3;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: #fddcc4;
}

.wrapper {
  width: 93.75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0px 100px;
}

.header {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

/* Header section */

.header-section {
  padding: 30px 0px;
}

.header-wrapper {
  height: 60px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  flex-shrink: 0;
}

.logo__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #545454;
}
.logo__subtitle {
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.header-nav {
  width: 443px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header-nav__item {
  list-style-type: none;
}

.header-nav__link {
  display: inline-block;
  min-height: 24px;
  color: #545454;
  text-decoration: none;
  transition: color 0.4s;
}

.header-nav__link:hover {
  color: #292929;
}

.header-nav__link--active {
  color: #545454;
  border-bottom: 3px solid #f1cdb3;
  pointer-events: none;
  cursor: default;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu__line {
  width: 100%;
  height: 2px;
  background-color: #000;
}

/* Our friends section */

.section-our-friends {
  background-color: #f6f6f6;
}

.section-our-friends__wrapper {
  padding: 80px 0px 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-our-friends__header {
  width: 400px;
  margin: 0 auto 45px;
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.slider__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider__card {
  width: 270px;
  border-radius: 9px;
  margin: 15px 0px;
  background-color: #fafafa;
  overflow: hidden;
  transition: 0.4s;
}

.slider__card:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__card-image-block {
  height: 270px;
}

.slider__card-description {
  transition: background-color 0.4s;
}

.slider__card-image {
  max-width: 100%;
}

.slider__card-text {
  margin: 30px 0px 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.slider__card-open-button {
  display: block;
  width: 187px;
  min-height: 52px;
  margin: 0 auto 30px;
  padding: 0;
  border: 2px solid #f1cdb3;
  background-color: transparent;
  transition: background-color 0.4s;
}

.slider__card:hover .slider__card-open-button {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.slider__buttons-block {
  margin-top: 45px;
}

.slider__button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  background-color: transparent;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
  margin: 0px 8px;
  transition: background-color 0.4s;
}

.slider__button:not(.slider__button--disabled):hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.slider__button:not(.slider__button--disabled):active {
  background-color: #f1cdb3;
  border-color: #f1cdb3;
}

.slider__button--disabled {
  color: #cdcdcd;
  border-color: #cdcdcd;
  cursor: default;
}

.slider__page {
  background: #f1cdb3;
  border: none;
}

/* Footer */

.footer {
  background: url(../../img/noise_lines_transparent.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.footer__wrapper {
  padding: 56px 0px 66px;
  position: relative;
}

.footer__wrapper::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 310px;
  right: 0px;
  bottom: 0px;
  background: url(../../img/footer-puppy.png) no-repeat;
}

.footer__header {
  margin: 0px;
  color: #fff;
}

.footer__container {
  width: 740px;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  min-height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-left {
  width: 279px;
}

.footer__column-right {
  width: 302px;
}

.footer__contact {
  display: block;
  margin: 0;
  position: relative;
  padding-left: 42px;
  color: #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: color 0.4s;
}

.footer__contact:hover {
  color: #fce2cf;
}

.footer__contact-email {
  padding-left: 60px;
}

.footer__contact-email::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 40px;
  height: 26px;
  background-image: url(../../img/icon-mail.svg);
}

.footer__contact-phone {
  padding-left: 60px;
}

.footer__contact-phone::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 40px;
  height: 32px;
  background-image: url(../../img/icon-phone.svg);
}

.footer__contact-location::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 22px;
  height: 32px;
  background-image: url(../../img/icon-marker.svg);
}

.footer__contact-location-2::before {
  top: -3px;
}

/* Modal window */

.modal {
  visibility: hidden;
  opacity: 0;
}

.modal--visible {
  visibility: visible;
  opacity: 1;
}

.modal-overlay {
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 20;
}

.modal--visible .modal-overlay {
  opacity: 1;
  transition: opacity 1s;
}

.modal-window {
  opacity: 0;
  width: 900px;
  min-height: 500px;
  background-color: #fafafa;
  border-radius: 9px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
}

.modal--visible .modal-window {
  opacity: 1;
  transition: opacity 0.5s;
}

.modal-window__container {
  display: flex;
}

.modal-window__image-containter {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  overflow: hidden;
}

.modal-window__image {
  width: 100%;
  height: 100%;
}

.modal-window__text-containter {
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 30px;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.06em;
}

.modal-window__name {
  margin-bottom: 10px;
}

.modal-window__type {
  font-size: 20px;
  line-height: 115%;
  margin: 10px 0;
}

.modal-window__description {
  margin: 40px 0;
  line-height: 115%;
}

.modal-window__features-list {
  padding-left: 16px;
  line-height: 110%;
}

.modal-window__feature {
  margin-bottom: 11px;
}

.modal-window__feature::marker {
  color: #f1cdb3;
}

.feature-name {
  font-weight: 700;
}

.modal-window__close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -52px;
  right: -42px;
  background-color: #7b7b7b;
}

/* Media */

@media (hover: hover) {
  .body--scroll-disabled {
    padding-right: 17px;
  }
}

@media (max-width: 1200px) {
  .footer__wrapper {
    min-height: 640px;
    padding-top: 31px;
  }

  .slider__cards {
    justify-content: center;
    column-gap: 40px;
  }

  .slider__card:nth-child(7),
  .slider__card:last-child {
    display: none;
  }

  .footer__wrapper::before {
    right: calc(50% - 150px);
  }
}

@media (max-width: 992px) {
  .modal-window {
    width: 630px;
    min-height: 350px;
  }

  .modal-window__image-containter {
    width: 350px;
    height: 350px;
  }

  .modal-window__text-containter {
    padding-top: 10px;
    padding-right: 4px;
    padding-left: 10px;
  }

  .modal-window__description {
    margin: 20px 0;
    font-size: 13px;
    line-height: 110%;
  }

  .modal-window__feature {
    margin-bottom: 6px;
  }
}

@media (max-width: 840px) {
  .wrapper {
    width: 92%;
  }

  .header-nav {
    max-width: 64%;
  }

  .section-our-friends__wrapper {
    padding-bottom: 76px;
  }

  .section-our-friends__header {
    margin-bottom: 14px;
  }

  .slider__buttons-block {
    margin-top: 25px;
  }

  .footer__container {
    width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .header-wrapper {
    width: 87.5%;
  }

  .mobile-menu-icon {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 22px;
    margin-left: auto;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 13;
    transition: transform 0.2s;
  }

  .mobile-menu-icon--active {
    transform: rotate(90deg);
  }

  .mobile-menu-icon--active .mobile-menu__line {
    background-color: #f1cdb3;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 100vh;
    background-color: #292929;
    z-index: 12;
    transition: ease-in-out 0.3s;
  }

  .mobile-menu--active {
    right: 0;
  }

  .header-nav__list {
    flex-direction: column;
    min-height: 243px;
    z-index: 14;
  }

  .header-nav__link {
    color: #cdcdcd;
    font-size: 32px;
  }

  .header-nav__link:hover {
    color: #fafafa;
  }

  .header-nav__link--active {
    color: #fafafa;
  }

  .background-overlay {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 11;
    transition: 0.3s;
  }

  .background-overlay--active {
    opacity: 1;
    visibility: visible;
  }

  .footer__header {
    font-size: 25px;
  }

  .modal-window {
    width: 75%;
    min-width: 240px;
    min-height: 340px;
  }

  .modal-window__close-button {
    right: -30px;
  }

  .modal-window__image-containter {
    display: none;
  }

  .modal-window__text-containter {
    padding: 3.125%;
  }

  .modal-window__name {
    text-align: center;
  }

  .modal-window__type {
    text-align: center;
  }

  .modal-window__features-list {
    margin-bottom: 0;
  }
}

@media (max-width: 640px) {
  .section-our-friends__wrapper {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .section-our-friends__header {
    width: 100%;
    margin-bottom: 26px;
    font-size: 25px;
  }

  .slider__buttons-block {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
  }

  .slider__button {
    margin: 0;
  }

  .footer__wrapper {
    min-height: 809px;
  }

  .footer__wrapper::before {
    width: 260px;
    height: 269px;
    background-size: 260px 269px;
    right: calc(50% - 130px);
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    row-gap: 46px;
  }

  .footer__header {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .footer__column-left {
    min-height: 200px;
    align-items: center;
  }

  .footer__column-right {
    min-height: 216px;
  }
}

@media (max-width: 635px) {
  .slider__card:nth-child(4),
  .slider__card:nth-child(5),
  .slider__card:nth-child(6) {
    display: none;
  }
}

@media (max-width: 337px) {
  .main-header {
    font-size: 25px;
  }

  .modal-window__name {
    font-size: 35px;
  }
}
