@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: local("Arial"), url("../fonts/arial-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  src: local("Arial Italic"), url("../fonts/arial-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), url("../fonts/georgia-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 400;
  src: local("Georgia Italic"),
    url("../fonts/georgia-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  src: local("Georgia Bold"), url("../fonts/georgia-bold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.button {
  display: inline-block;
  background-color: #f1cdb3;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: #fddcc4;
}

.background-wrapper {
  background: url(../img/noise_lines_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) #211f20;
}

.wrapper {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0px 100px;
}

.header {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

/* Header section */

.header-section {
  padding: 30px 0px 90px;
}

.header-wrapper {
  height: 60px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  flex-shrink: 0;
}

.logo__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.logo__subtitle {
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
}

.header-nav {
  width: 443px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header-nav__item {
  list-style-type: none;
}

.header-nav__link {
  display: inline-block;
  min-height: 24px;
  color: #cdcdcd;
  text-decoration: none;
  transition: color 0.4s;
}

.header-nav__link:hover {
  color: #fafafa;
}

.header-nav__link--active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
  pointer-events: none;
  cursor: default;
}

.mobile-menu {
  display: none;
}

.mobile-menu__line {
  width: 100%;
  height: 2px;
  background-color: #f1cdb3;
}

/* Not only section */

.section-not-only__wrapper {
  min-height: 728px;
  padding: 0px;
  background: url(../img/start-screen-puppy.png) no-repeat right bottom;
}

.section-not-only__text {
  margin-bottom: 42px;
  color: #cdcdcd;
}

.section-not-only__content-block {
  width: 460px;
  padding-top: 163px;
}

.main-header {
  font-size: 44px;
  margin: 0px 150px 42px 0px;
  color: #fff;
  letter-spacing: normal;
}

/* About section */

.section-about-wrapper {
  width: 850px;
  margin: 0 auto;
  padding-bottom: 88px;
  display: flex;
  justify-content: space-between;
}

.section-about__header {
  margin-right: 60px;
}

.section-about-image {
  margin: auto;
  max-width: 100%;
}

.section-about-text-block {
  margin-top: 14px;
  width: 430px;
}

.section-about__text {
  margin-bottom: 25px;
}

/* Our friends section */

.section-our-friends {
  background-color: #f6f6f6;
}

.section-our-friends__wrapper {
  padding: 80px 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-our-friends__header {
  width: 400px;
  margin: 0 auto 60px;
  text-align: center;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
  width: 100%;
}

.slider__cards {
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.slider__card {
  width: 270px;
  border-radius: 9px;
  background-color: #fafafa;
  overflow: hidden;
  transition: 0.4s;
}

.slider__card:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__card-image-block {
  height: 270px;
}

.slider__card-description {
  transition: background-color 0.4s;
}

.slider__card-image {
  max-width: 100%;
}

.slider__card-text {
  margin: 30px 0px 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.slider__card-open-button {
  display: block;
  width: 187px;
  min-height: 52px;
  margin: 0 auto 30px;
  padding: 0;
  border: 2px solid #f1cdb3;
  background-color: transparent;
  transition: background-color 0.4s;
}

.slider__card:hover .slider__card-open-button {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.section-our-friends__button {
  display: block;
  width: 261px;
  padding: 15px 40px;
}

.slider__button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.4s;
}

.slider__button:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.slider__button:active {
  background-color: #f1cdb3;
  border-color: #f1cdb3;
}

/* Help section */

.section-help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-help__header {
  width: 310px;
  margin-bottom: 60px;
  text-align: center;
}

.categories-block {
  width: 1030px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 56px;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-card__text {
  margin: 22px 0px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

/* In addition section */

.section-in-addition {
  background-color: #f6f6f6;
}

.section-in-addition__wrapper {
  width: 915px;
  padding-bottom: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-in-addition__image-wrapper {
  margin-bottom: 5px;
}

.section-in-addition__content-wrapper {
  width: 380px;
}

.section-in-addition__header {
  margin-right: 80px;
  margin-bottom: 16px;
}

.section-in-addition__bank-header {
  margin-bottom: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
  letter-spacing: 0.06em;
}

.section-in-addition__bank-card {
  display: inline-block;
  width: 349px;
  margin: 0px 0px 8px;
  padding: 10px 0px 10px 60px;
  border-radius: 9px;
  position: relative;
  background-color: #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  transition: background-color 0.4s;
}

.section-in-addition__bank-card::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 23px;
  top: 10px;
  left: 15px;
  background-image: url(../img/credit-card.svg);
  z-index: 10;
}

.section-in-addition__bank-card:hover {
  background-color: #fddcc4;
}

.section-in-addition__description {
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
}

/* Footer */

.footer {
  background: url(../img/noise_lines_transparent.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.footer__wrapper {
  padding: 56px 0px 66px;
  position: relative;
}

.footer__wrapper::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 310px;
  right: 0px;
  bottom: 0px;
  background: url(../img/footer-puppy.png) no-repeat;
}

.footer__header {
  margin: 0px;
  color: #fff;
}

.footer__container {
  width: 740px;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  min-height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-left {
  width: 279px;
}

.footer__column-right {
  width: 302px;
}

.footer__contact {
  display: block;
  margin: 0;
  position: relative;
  padding-left: 42px;
  color: #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: color 0.4s;
}

.footer__contact:hover {
  color: #fce2cf;
}

.footer__contact-email {
  padding-left: 60px;
}

.footer__contact-email::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 40px;
  height: 26px;
  background-image: url(../img/icon-mail.svg);
}

.footer__contact-phone {
  padding-left: 60px;
}

.footer__contact-phone::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 40px;
  height: 32px;
  background-image: url(../img/icon-phone.svg);
}

.footer__contact-location::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 22px;
  height: 32px;
  background-image: url(../img/icon-marker.svg);
}

.footer__contact-location-2::before {
  top: -3px;
}

/* Media */

@media (max-width: 1200px) {
  .header-section {
    padding-bottom: 60px;
  }

  .section-not-only__wrapper {
    display: flex;
    align-items: center;
    min-height: 48vw;
    background-size: 50%;
  }

  .section-not-only__content-block {
    padding-top: 0;
  }

  .slider__cards {
    width: 580px;
    column-gap: 40px;
    overflow: hidden;
  }

  .slider__card {
    flex-shrink: 0;
  }
}

@media (max-width: 992px) {
  .section-about-wrapper {
    width: 92%;
  }
}

@media (max-width: 992px) {
  .section-about-wrapper {
    width: 92%;
  }
}

@media (max-width: 840px) {
  .header-nav {
    max-width: 64%;
  }

  .section-not-only__wrapper {
    min-height: 129vw;
    align-items: flex-start;
    justify-content: center;
  }

  .section-not-only__button {
    display: block;
    width: 208px;
    margin: 0 auto;
  }

  .section-not-only__wrapper {
    background-size: 80.5%;
  }
}

@media (max-width: 640px) {
  .header-wrapper {
    width: 87.5%;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 22px;
    margin-left: auto;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 10;
  }

  .header-nav__list {
    display: none;
  }

  .section-not-only__wrapper {
    min-height: 673px;
    background-size: 260px;
  }

  .main-header {
    font-size: 7vw;
    margin: 0 0 42px;
    text-align: center;
    letter-spacing: 0.06em;
  }

  .section-not-only__text {
    text-align: center;
  }
}

@media (max-width: 337px) {
  .main-header {
    font-size: 25px;
  }
}
